@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400&display=swap');

body {
  box-sizing: border-box; 
  background-color: rgb(247, 247, 247);
}
/*HEADER STYLES*/
body::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5
}

body::-webkit-scrollbar-thumb {
  background-color: #4b4b4b
}

.transparent {
  opacity: 0;
}
header {  
  margin-left: 50%;
  transform: translateX(-50%);
  width: 60%;
  font-family: 'Libre Baskerville', serif;
  display: flex;
  align-items: center;
  padding: 20px 20px;
}

header img {
  opacity: 0;
  width: 325px;
  height: 325px;
  animation-name: slideLEFT;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;

  -webkit-animation-name: slideLEFT;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
}
header h2 {
  opacity: 0;
  animation-name: slideLEFT;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-delay: 0.75s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;

  

  font-size: 2.75em;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: italic;
}
header h1 {
  opacity: 0;
  font-size: 4em;
  color: rgb(70, 70, 70);

  animation-name: slideLEFT;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;

}
h2 {
  padding: 20px 0px;
  font-family: 'Libre Baskerville', serif;
  font-size: 2em;
  color: rgb(70, 70, 70);
}
hr {
  margin: 1em 0em;
  width: 25%;
}

/*main container*/
.mainContainer {
  animation: slideUp ease 1s;
  -webkit-animation: slideUP ease 1s;
  margin: 0px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
}
/*flight form styles*/
.flightForm {
  margin-top: 10px;
  width: 50%;
  background: #fff;
  border-radius: 15px;
}
.flightForm>form {
  padding: 20px 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25em;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #e4e4e4;
  list-style: none;
}

.flightForm input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
  
}

.flightForm label {
  width: 125px;
  margin-top: 10px;
  display: inline-block;
  background-color: #ececec;
  padding: 2px 5px;
  border-left: 1px solid #444;
  transition: border-left .2s
}

.flightForm input[type=radio]:checked+label,
.flightForm input[type=radio]:focus+label {
  border-left: 3px solid #44a1cc;
  background-color: #cff0ff
}

.peopleSettings {
  display: flex;
  align-items: stretch;
  font-weight: 300;
}

.labelPeople li {
  text-align: right;
  margin: 10px 0
}

.peopleSettings button {
  background: #cff0ff;
  color: inherit;
  border: none;
  border-radius: 50px;
  padding: 0 2px;
  margin: 3.5px 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #004769;
  width: 25px;
  height: 25px;
}

/*SEARCH BAR STYLES*/
.searchBar {
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid #e4e4e4;
  width: 50%;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
 
  background-color: #fff;
  padding: 10px 0px;

  border-radius: 15px 50px 50px 15px;
}

.fas {
  background-color: #cff0ff;
  padding: 10px;
  border-radius: 50px;
  color: #004769
  
}

.searchBar button .fas {
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: 0
}

.searchBar button {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit
}

.searchBar input[type=date],
.searchBar input[type=text] { 
 
  width: 25%;
  background: 0 0;
  font: inherit;
  border: none;
  font-size: .7em;
  border-bottom: 2px solid #004769
}
::-webkit-input-placeholder {
   color: #004769;
}
/*nav styles*/
nav {
  position: fixed;
  text-align: right;
  display: flex;
  flex-direction: column;
  list-style: none;
  border-right: 1px solid rgb(167, 167, 167);
  margin-top: 10%;
  margin-left: 22%;
  transform: translateX(-75%);

}
 nav  li{
   width: 250px;
  padding: 10px 10px;
}
 nav li a {
   text-decoration: none;
   color: rgb(70, 70, 70);
   font-family: 'Source Sans Pro';
   font-size: 1.75em;
   transition: all .5s;
}
nav li:hover {
  background-color:rgb(124, 124, 124) ;
  
}
nav a:hover {
  color: white;
}
/* animations */
@keyframes slideLEFT {
  0%{
    opacity: 0;
    transform: translateX(-1000px);

  }
  100%{
    opacity: 100%;
  }
}
@keyframes slideUP {
  0%{
    opacity: 0;
    transform: translateY(1000px);

  }
  100%{
    opacity: 100%;
  }
}
